/* Write your CSS here */
.appointment-item {
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  list-style-type: none;
  padding: 0 30px;
  width: 32%;
  height: 100px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.star-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.title {
  color: #171f46;
  font-weight: 600;
  font-size: 24px;
}
.date {
  margin-top: -10px;
}
