.bg-container {
  background: linear-gradient(to top, #9796f0, #fbc7d4);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background: #fff;
  width: 80%;
  border-radius: 12px;
  background-size: cover;
  padding: 40px 0;
}
.flex-cont {
  display: flex;
  justify-content: space-around;
}
.heading {
  color: #171f46;
}
.title-text {
  margin-bottom: 20px;
}
.labels {
  color: #b5b7c4;
  font-weight: 600;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #b5b7c4;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}
.button {
  width: 100px;
  height: 30px;
  background: #8b5cf6;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 16px;
  cursor: pointer;
}
.bottom-container {
  width: 80%;
}
.appointments-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 11%;
}
.line {
  margin-top: 20px;
  width: 80%;
}
.starred-button {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  color: #8b5cf6;
  background-color: transparent;
  border: 1px solid #8b5cf6;
  font-weight: 600;
  cursor: pointer;
}
.filter-Active {
  background-color: #8b5cf6;
  color: #fff;
}
.appointments-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin-left: 65px;
}
